<!doctype html>
<html>
  <head>
    {% include "partials/head.html" %}

    {% block extra_head %}{% endblock %}
  </head>

  <body class="{% block body_class %}body{% endblock %}">
    {% include "partials/scripts-body.html" %}

    <div class="wrapper" id="app">
      {% block header %}
        {% include "partials/header.html" %}
      {% endblock %}

      <main class="main">
        {% block content %}{% endblock %}
      </main>

      {% block footer %}
        {% include "partials/footer.html" %}
      {% endblock %}
    </div>

    {% include "partials/scripts.html" %}

    {% block extra_scripts %}{% endblock %}
  </body>
</html>
